@model AcademicPortalApp.Models.TraineeCourseViewModel
@{
    ViewBag.Title = "AssignCourseToTrainee";
}

<h2>Assign Course To Trainee</h2>

@using (Html.BeginForm("AssignCourseToTrainee", "TraineeRelated", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.TraineeId, new { @class = "col-md-2 control-label" })
        @Html.DropDownListFor(m => m.TraineeId, new SelectList(Model.Trainees, "Id", "UserName"), new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CourseId, new { @class = "col-md-2 control-label" })
        @Html.DropDownListFor(m => m.CourseId, new SelectList(Model.Courses, "Id", "Name"), new { @class = "form-control" })
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Assign" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


