@model AcademicPortalApp.Models.TraineeCourseViewModel
@{
    ViewBag.Title = "Reassign Trainee to Another Course";
}

<h2>Reassign Trainee to Another Course</h2>

@using (Html.BeginForm("ReassignedTraineeToCourse", "TraineeRelated", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(m => m.TraineeCourse.Id, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.TraineeCourse.Id, new { @class = "form-control", @readonly = "readonly" })
    </div>
    @Html.ValidationMessageFor(model => model.TraineeCourse.Id, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.TraineeId, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.TraineeId, new { @class = "form-control", @readonly = "readonly" })
    </div>
    @Html.ValidationMessageFor(model => model.TraineeId, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.TraineeCourse.CourseId, new { @class = "col-md-2 control-label" })
    @Html.DropDownListFor(m => m.TraineeCourse.CourseId, new SelectList(Model.Courses, "Id", "Name"), new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.TraineeCourse.CourseId, "", new { @class = "text-danger" })
</div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Assign" />
        </div>
    </div>
}



