@model IEnumerable<AcademicPortalApp.Models.TrainerCourses>
@{
    ViewBag.Title = "All Course Of Trainer";
}

<h2>All Course Of Trainer</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Trainer Id</th>
            <th scope="col">Course Name</th>
            <th scope="col">Course Decription</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">@item.Trainer.UserName</td>
                <td>@item.Course.Name</td>
                <td>@item.Course.Description</td>
                <td>
                    @Html.ActionLink("Reassign", "ReassignedTrainerToCourse", new { Id = item.Id }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Remove", "RemoveTrainerFromCourse", new { Id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
    @Html.ActionLink("Assign", "AssignCourseToTrainer", null, new { @class = "btn btn-primary" })
</table>

