@model AcademicPortalApp.Models.TrainerCoursesViewModel
@{
    ViewBag.Title = "Reassign Trainer to Another Course";
}

<h2>Reassign Trainer to Another Course</h2>

@using (Html.BeginForm("ReassignedTrainerToCourse", "TrainerRelated", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(m => m.TrainerCourse.Id, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.TrainerCourse.Id, new { @class = "form-control", @readonly = "readonly" })
    </div>
    @Html.ValidationMessageFor(model => model.TrainerCourse.Id, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.TrainerId, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.TrainerId, new { @class = "form-control", @readonly = "readonly" })
    </div>
    @Html.ValidationMessageFor(model => model.TrainerId, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.TrainerCourse.CourseId, new { @class = "col-md-2 control-label" })
    @Html.DropDownListFor(m => m.TrainerCourse.CourseId, new SelectList(Model.Courses, "Id", "Name"), new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.TrainerCourse.CourseId, "", new { @class = "text-danger" })
</div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Assign" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


